@use 'src/Library.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.Me{
    background-color: Library.$bgcolor;
    height: 100lvh;
    text-align: center ;
    position: relative;
    cursor: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Me-Vid{
    height: 20%;

    .Me-Vid-Item{
        height: 20em;
        width: 100%;
        object-fit: cover;
        border-bottom: Library.$primary solid 5px;
    }
}

.Back-Button{
    position: absolute;
    top: 4em;
    left: 2em;
    .Back-Button-Item{
        color: Library.$primary;
        cursor: none;
        @include Library.s{
            width: 2em;
        }
        @include Library.m{
            width: 3em;
        }
        @include Library.l{
            width: 4em;
        }
    }
}

    .Portrait{
        overflow: hidden;
        .Portrait-Item{
            @include Library.s{
                width: 20em;
            }
            @include Library.m{
                width: 30em;
            }
            @include Library.l{
                width: 35em;
            }
        }
    }
