@use 'src/Library.scss';

a{
    cursor: none;
}
.project{
    width: 5em;
    border-radius: 10px;
    z-index: 0;
    position: relative;
}

.Modal{
    position: fixed;
    left: 0;top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(#000, .2);
    overflow-y: scroll;

    .deets-Modal{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        @include Library.s{
            width: 5em;
            top: 50%;
        }
        @include Library.m{
            width: 10em;
            top: 145%;
        }
        @include Library.l{
            width: auto;
            top: 300%;
        }
    }
    .close-Modal{
        position: fixed;
        @include Library.s{
            top: 160px;
            right: 100px;
            width: 10px;
        }
        @include Library.m{
            top: 20px;
            right: 100px;
            width: 20px;
        }
        @include Library.l{
            right: 360px;
        }
    }
    .Arrow{
        position: fixed;
        width: 80px;
        @include Library.s{
            top: 370px;
            right: 100px;
            width: 40px;
        }
        @include Library.m{
            top: 100px;
            right: 100px;
            width: 80px;
        }
        @include Library.l{
            right: 330px;
        }
    }
}

