@use 'src/Library.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  background-color: Library.$bgcolor;
  cursor: none;
}

.cursor{
  position: fixed;
  top: 0;left: 0;
  width: 50px;
  height: 50px;
  background-color: Library.$secondary;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

.Home-header {
  height: 20vh;
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 8px solid Library.$primary;
}

.Home-header-1 {
  flex-grow: 3;
  border-right: Library.$primary 5px solid;
  display: flex;
  justify-content: center;

  h1{
    font-family: 'Raleway', sans-serif;
    font-size: clamp(.5rem, 5vw, 4rem); 
    color: Library.$primary;
    letter-spacing: 10px;
  }
}


.Home-header-2{
  flex-grow: 2;
  padding: 1em;

  .star-rotating{
    @include Library.s{
      width: 50px;
    }
    @include Library.m{
      width: 75px;
    }
    @include Library.l{
      width: 125px;
    }


  }
}

.Home-body{
  height: 60vh;
  display: flex;
  justify-content: center;
 
  .Home-body-video{
      width: 100%;
    }
}


.Home-footer{
  height: 18vh;
  border-top: Library.$primary 8px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  @include Library.s{
    gap: 5em;
  }
  @include Library.m{
    gap: 15em;
  }
  @include Library.l{
    gap: 20em;
  }



  .FIGMA, .FIGMA-svg{
    @include Library.s{
      width: 20px;
    }
    @include Library.m{
      width: 40px;
    }
    @include Library.l{
      width: 50px;
    }


  }
  .REACT, .REACT-svg{
    @include Library.s{
      width: 40px;
    }
    @include Library.m{
      width: 65px;
    }
    @include Library.l{
      width: 75px;
    }


  }

}