@use 'src/Library.scss';

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  background-color: Library.$bgcolor;
  cursor: none;
}

.cursor{
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: Library.$secondary;
  border-radius: 50%;
  pointer-events: none;
}

.App-header {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 8px solid Library.$primary;
}

.App-header-1 {
  flex-grow: 2;
  border-right: Library.$primary 5px solid;
  display: flex;
  justify-content: center;

  h1{
    font-family: Library.$font-family;
    font-size: 3em;
    color: Library.$primary;
    letter-spacing: 10px;
  }
}


.App-header-2{
  flex-grow: 1;

  .star-rotating{
    width: 125px;
  }
}

.App-body{
  height: 60vh;
 
  .App-body-video{
    height: 60vh;
}
}


.App-footer{
  height: 18vh;
  border-top: Library.$primary 8px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20em;

  .FIGMA, .FIGMA-svg{
    width: 50px;
  }
  .REACT, .REACT-svg{
    width: 75px;
  }
}