@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

// Color Palette
$bgcolor: #efe9dc;
$primary: #2c2c2c;
$secondary: #ee7828;

// Typography
$font-family: 'Raleway', sans-serif;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-sm: 14px;

// Border Radius
$border-radius: 4px;

$breakpoints: (
  "s": 0,
  "m": 720px,
  "l": 1200px,
);  

// mixins - breakpoints
@mixin s {
    @media (min-width: map-get($breakpoints, "s")) {
      @content;
    }
  }
  @mixin m {
    @media (min-width: map-get($breakpoints, "m")) {
      @content;
    }
  }
  @mixin l {
    @media (min-width: map-get($breakpoints, "l")) {
      @content;
    }
  }
  @mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
      @content;
    }
  }